<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <div>
        {{> pgtitle}}
    </div>
    <h2>{{pageHeader}}</h2>
    <div>
        {{pageContent}}
    </div>
    
    <div id="test">
        <button>Create New Page</button>
    </div>
    {{> footer}}
</body>
</html>